body {
    background-color: #fff
}

#auth {
    height: auto;
    overflow-x: hidden
}

#auth #auth-right {
    background-image: url(../../../assets/images/mali.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#auth #auth-left {
    padding: 1rem 6rem
}

#auth #auth-left .auth-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem
}

#auth #auth-left .auth-subtitle {
    color: #a8aebb;
    font-size: 1rem;
    line-height: 1rem
}

#auth #auth-left .auth-logo {
    margin-bottom: 3rem
}

#auth #auth-left .auth-logo img {
    height: 2rem
}

@media screen and (max-width:767px) {
    #auth #auth-left {
        padding: 2rem
    }
}

@media screen and (max-width:576px) {
    #auth #auth-left {
        padding: 3rem 2rem
    }
}

body.theme-dark #auth-right {
    background: url(../../../assets/images/mali.png)
}
